.chart-container {
    width: 800px; /* Largeur souhaitée */
    height: 500px; /* Hauteur souhaitée */
    display: flex; /* Centrage si besoin */
    justify-content: center;
    align-items: center;
  }
  